<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!-- A1 is set to be a ConsoleAppender -->
  <appender name="MultiThreadBufferFullTest" type="AWS.Logger.Log4net.AWSAppender,AWS.Logger.Log4net" >

    <LogGroup>AWSLog4NetGroupMultiThreadBufferFullTest</LogGroup>
    <Region>us-west-2</Region>
    <MaxQueuedMessages>40</MaxQueuedMessages>

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
    </layout>
  </appender>
  <!-- Set root logger level to DEBUG and its only appender to A1 -->
  <root>
    <level value ="DEBUG"/>
    <appender-ref ref="MultiThreadBufferFullTest" />
  </root>
</log4net>