<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly ="NLog.AWS.Logger"/>
  </extensions>
  <targets>
    <target name="AWSNLogGroupMultiThreadBufferFullTest" type="AWSTarget" logGroup="AWSNLogGroupMultiThreadBufferFullTest" region="us-west-2" MaxQueuedMessages="10"/>
    <target name="loggerRegular" xsi:type="Console" layout="${callsite} ${message}" />
  </targets>
  <rules>
    <logger name="loggerMultiThreadBufferFull" minlevel="Debug" writeTo="loggerRegular,AWSNLogGroupMultiThreadBufferFullTest" />
  </rules>
</nlog>