<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly ="NLog.AWS.Logger"/>
  </extensions>
  <targets>
    <target name="AWSNLogGroup" type="AWSTarget" logGroup="AWSNLogGroupNoTimestampTest" region="us-west-2" logStreamNameSuffix="Custom" logStreamNamePrefix="CustomPrefix" includeTimestampInLogStreamName="false" />
    <target name="loggerNoTimestamp" xsi:type="Console" layout="${callsite} ${message}" />
  </targets>
  <rules>
    <logger name="loggerNoTimestamp" minlevel="Debug" writeTo="loggerNoTimestamp,AWSNLogGroup"/>
  </rules>
</nlog>