@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Congrats on using the AWS Logging library for ASP.NET Core</h2>
<p>
    To see the log messages log onto the <a href="https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logEventViewer:group=AspNetCore.WebSample">AWS Console</a> and view the Cloud Watch Logs console. The log messages will be under the log group <b>AspNetCore.WebSample</b>.
</p>